* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: #5e7a7d;
}

body {
  background: #c5e4e7;
  height: 933px;
  font-weight: bold;
  font-size: 12px;
}

@media (min-width: 64em) {
  body {
    height: 100vh;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
}

@media (min-width: 64em) {
  section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 83%;
  background: white;
  border-radius: 30px;
  margin-top: 5.8%;
}

@media (min-width: 64em) {
  .frame {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 795px;
    height: 416px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.frame1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 3.625rem);
  height: 21.688rem;
  border-radius: 15px;
}

@media (min-width: 64em) {
  .frame1 {
    width: 20.813rem;
    height: 363px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.frame2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00494d;
  border-radius: 15px;
  width: calc(100% - 3.625rem);
  height: 16.438rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .frame2 {
    width: 351px;
    height: 363px;
  }
}

@media (min-width: 64em) {
  .container__bill {
    width: 100%;
    left: 1.75rem;
    top: 28px;
  }
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: 0.6rem center;
  background-color: #f4f5f5;
  background-size: 2.5%;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  text-align: end;
  outline: none;
  border: 0;
  margin-top: 0.25rem;
  color: #00494d;
  font-size: 24px;
}

@media (min-width: 64em) {
  .input {
    width: 20.813rem;
    height: 2.375rem;
  }
}

input::-webkit-input-placeholder {
  color: #5e7a7d;
}

input:-ms-input-placeholder {
  color: #5e7a7d;
}

input::-ms-input-placeholder {
  color: #5e7a7d;
}

input::placeholder {
  color: #5e7a7d;
}

.input.dollar {
  background-image: url("images/icon-dollar.svg");
}

/*left: 1.75rem;*/
/*top: 1.75rem;*/
.container__tip {
  width: 100%;
}

.input.people {
  background-image: url("images/icon-person.svg");
}

.tip__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 64em) {
  .tip__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00494d;
  border-radius: 0.3rem;
  width: 9.375rem;
  height: 2.25rem;
  margin-top: 0.813rem;
  color: white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  cursor: pointer;
  border: none;
}

@media (min-width: 64em) {
  .tip {
    width: 5.938rem;
    height: 2.25rem;
  }
}

.tip:nth-child(3) {
  background-color: #26c0ab;
  color: #00494d;
}

.tip:nth-child(6) {
  background: none;
  color: #5e7a7d;
}

.amounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 3.625rem);
  height: calc(100% - 2rem);
}

@media (min-width: 64em) {
  .amounts {
    width: 17.875rem;
    height: 18.563rem;
  }
}

.tip__amount:nth-child(2) {
  margin-top: 1rem;
}

.tip__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4.313rem;
}

.text__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tip3 {
  color: white;
}

.person {
  color: #5e7a7d;
}

.amount, .simbol {
  color: #26c0ab;
  font-size: 30px;
}

@media (min-width: 64em) {
  .amount, .simbol {
    font-size: 35px;
  }
}

.reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  background-color: #26c0ab;
  margin-bottom: 0;
  height: 2.125rem;
  border-radius: 5px;
  font-size: 15px;
  color: #00494d;
  border: none;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.focusCyan {
  border: 2px solid #26c0ab;
}

.focusRed {
  border: 2px solid red;
}

.people__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.zero {
  color: red;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */